/* Estilo para toda la pagina */
*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

/* Information de todas las paginas */
/* Estilo para la información */
#information{
    width: 100%;
    height: 30px;
    display: flex;
    background-color: #470696;
}
#information span{
    color: white;
    font-size: clamp(0.5rem, 1vw, 2rem);
    margin: auto;
}
/* Head de todas las paginas */
/* Estilo para el head(incluye logo, bienvenida, buscador, sesion y carrito, menu y cuotas) */
/* Primera sección de logo, buscador y sesión con carrito */
.containercabezal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #dedede;
    background-color: rgba(22, 196, 88, 0.4);
}
.logohead{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
}
.logohead a img{
    width: 100px;
    height: 100px;
    padding-right: 20%;
}
.logohead:hover{
    cursor: pointer;
}
.presearch{
    display: block;
    width: 40%;
}
.presentation{
    width: 195%;
}
.presentation h1{
    text-align: start;
    /* font-size: 1.4rem; */
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    word-wrap: break-word;
}
.buscador{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.buscador input{
    width: 70%;
    height: 35px;
}
.buscador button{
    width: 11%;
}
.buscador button a{
    text-decoration: none;
    color: black;
}
.buscador button a:hover{
    color: black;
}
.sesioncarro {
    width: 30%;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}
.separadorseca{
    font-size: 1.4rem;
}
.seca{
    overflow: hidden;
    width: 45%;
    height: 2rem;
    border-radius: 10px;
    background-color: #47069698;
    border: none;
}
.seca a{
    text-decoration: none;
    color: black;
}
.seca a span{
    padding-left: 5px;
    padding-right: 5px;
}   
.btncarro{
    width: 45%;
}
.btncarro span{
    font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
.table tbody tr td:last-child button i{
    color: red;
}
/* Tuve que incluir este hover puesto que el boostrap tiene un hover de etiqueta y que vuelve las letras azules */
.seca a:hover, .btncarro:hover{
    text-decoration: none;
    color: white;
    font-size: 100%;
    transition: 0.1s;
}
.seca:hover, .btncarro:hover{
    width: 50%;
    height: 2.2rem;
    transition: 0.3s;
}
/* Segunda sección que es el menu completo */
/* Estilo para el nav */
#menuopciones{
    background-color: rgba(0, 0, 0, 0.11);
}
.checkbtn{
    cursor: pointer;
    display: none;
}
#menuopciones ul{
    display: inline-flex;
    justify-content: center;
    margin-bottom: 10px;
    list-style: none;
    width: 100%;
}
#menuopciones ul li{
    width: 11%;
    padding-top: 1%;
    text-align: center;
}
#menuopciones ul li:hover{
    border-bottom: 3px solid #470696;
    color: #470696;
    font-style: italic;
    font-size: large;
    transition: all 0.1s;
}
#menuopciones ul li a{
    font-size: 75%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a3866;
    transition: all 0.3s;
}
#menuopciones ul li a:hover{
    color: #470696;
    font-family: italic;
    transition: all 0.1s;
}
#menuopciones ul li i{
    padding-left: 5px;
    padding-right: 5px;
}
/* Estilo para las cuotas */
.cuotas{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.cuotas img{
    width: 100%;
    height: 3rem;
}


/* Esto esta comentado porque intente hacerlo por SASS */
/* y me funciono correctamente el slider con sass
 */

/* Estyle for Index */
/* slider de promociones */
/* #sliderpromo{
    width: 100%;
    height: auto;
    margin: 5px auto 0;
    overflow: hidden;
}
#sliderpromo ul{
    display: flex;
    padding: 0;
    width: 400%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    animation: slidepromo 20s infinite alternate ease-in-out;
}
#sliderpromo li{
    width: 100%;
    list-style: none;
    position: relative;
}
#sliderpromo ul li a img{
    width: 100%;
    height: 30rem;
}
@keyframes slidepromo{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
} */
/* Sección de promociones y lanzamientos */
/* .namepromo{
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: #470696b4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.namepromo h2{
    padding-top: 1%;
    color: #dedede;
}
#promociones{
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0.5rem;
}
.promocionone{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    grid-column-start: 2; 
    grid-column-end: 3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.promo a img{
    width: 100%;
    height: 100%;
}
.promociontwo{
    grid-column-start: 3; 
    grid-column-end: 4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.promociontwo a img{
    width: 100%;
    height: 100%;
}
.promocionthree{
    grid-column-start: 4; 
    grid-column-end: 5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.promocionthree a img{
    width: 100%;
    height: 100%;
} */
/* Sección de ofertas(ZG-COMPUTACIÓN-COMPONENTES) */
#ofertasproduct{
    width: 100%;
    margin-top: 2rem;
}
.products{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 15px;
    padding: 0;
    gap: 1%;
}
.sectionname{
    margin-top: 2rem;
}
.sectionname p{
    text-align: center;
}
.productinfo{
    color: #333;
}
.product{
    list-style: none;
    width: 15%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.product:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
    width: 15.5%;
}
.product a{
    text-decoration: none;
}
.producttrademark{
    margin-bottom: 0.5rem;
}
.productname{
    width: 100%;
    height: auto;
}
.productname p{
    width: 100%;
    height: 2.8rem;
    overflow: hidden;
}
.skuunits{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.6rem;
    margin-top: 0.5rem;
    opacity: 0.8;
}
.productunits{
    text-align: end;
}
.productunits span{
    padding-right: 10%;
}
.productimg{
    text-align: center;
}
.productimg img{
    width: 95%;
}
.valuecart{
    display: flex;
    justify-content: space-between;
}
.value{
    padding-left: 5%;
    color: #333;
}
.cartplus{
    padding-right: 10%;
    color: #333;
}
.cartplus i{
    font-size: 2rem;
}

/*  */
/* CSS generico de Login - recoveraccount - changepassword - contact - registeruser */
#formcontainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.08);
}
#sectionform{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 45%;
    height: auto;
}
.nameform{
    margin-top: 20px;
    margin-bottom: 50px;
}
.nameform h2{
    color: #333;
    text-align: center;
}
.formulario{
    margin-top: 35px;
}
.formulario div{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario input{
    width: 85%;
    margin-top: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.formulario button{
    background-color: #470696;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
}

/*  */
/* Style for login */
/* Sección del login */
.ayuda div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.ayuda span{
    display: block;
    margin-bottom: 5px;
}
.ayuda a{
    color: #007bff;
    padding-left: 5px;
}

/*  */
/* Style for recoveryaccount */
/* Sección para recuperar cuenta */
.formrecover{
    margin-top: 15px;
}
.formrecover input{
    width: 85%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.formrecover button{
    background-color: #470696;
    color: #fff;
    width: 85%;
    height: 2.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.secciones{
    margin-top: 25px;
}
.returnlogin{
    text-align: start;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    text-align: start;
}

/*  */
/* Style for contact */
/* Sección para llenar formulario de contacto */
.formcontact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 15px;
}
.formdata{
    grid-column: span 1;
}
.formdata label{
    text-align: start;
    font-weight: bold;
    color: #555;
}
.formdata input, #motivo{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.textareaform{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}
.textareaform textarea{
    background-color: #f0f0f0;
    resize: none;
    width: 100%;
    height: 15rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.senddata{
    grid-column: span 2;
    width: 100%;
    height: auto;
}
.senddata button{
    background-color: #470696;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
}


/*  */
/* Style for registeruser */
/* Sección para llenar formulario del registro de usuario */
#sectionformreguser{
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 auto);
    justify-content: center;
    align-items: center;
}
.formreguser{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3 auto);
    width: 100%;
    height: 56rem;
    gap: 2%;
}
.formreguser h3{
    margin-bottom: 25px;
}
.reguserdataone{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 30rem;
}
.reguserdatatwo{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 44.5rem;
}
.reguserdatathree{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 13rem;
}
.reguserdatafour{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reguserdatafour button{
    background-color: #470696;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    margin-top: 25px;
}
.reguserdataone, .reguserdatatwo, .reguserdatathree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.reguserdataone div, .reguserdatatwo div, .reguserdatathree div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.reguserdataone div input, .reguserdatatwo div input, .reguserdatathree div input{
    width: 85%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*  */
/* Footer de todas las paginas */
/* Estilo para el footer(incluye logo con contacto, servicios e información de la empresa) */
#piepagina{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 1fr;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(22, 196, 88, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.pie{
    margin-top: 25px;
}
.pie a{
    padding: 20px 0px 0px 20px;
    font-size: larger;
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}
.pie h3{
    font-size: 1.5rem;
    font-weight: bold;
}
.logofooter img{
    width: 200px;
    height: 200px;
}
.socialcontacto{
    margin:auto;
    grid-column-start: 1;
    grid-column-end: 2;
}
.socialesmetodo{
    padding: 10px;
}
.logomapa{
    padding: 10px;
    display: none;
}
.ubicacion{
    margin:auto;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.ubi{
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.25fr 0.75fr;
    overflow: hidden;
    width: 80%;
    height: 100%;
}
.ubi i{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 150%;
}
.ubi h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 0;
}
.ubi iframe{
    margin: auto;
    width: 95%;
    height: 95%;
    grid-column-start: 1; 
    grid-column-end: 3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
}
.serviciocliente{
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 5%;
    padding-right: 5%;
}
.nosotros{
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 5;
    margin-right: 10%;
}

/* Todo el responsive paso a SASS */
/* Responsive de index - login - recoveraccount - changepassword -contact */
/* @media screen and (max-width: 750px){
    .cuotas img{
        width: 100%;
        height: 2rem;
    }
    #sliderpromo ul li a img{
        width: 100%;
        height: 13rem;
    }
    #sectionform{
        width: 95%;
        margin: 20px auto;
        padding: 10px;
    }
    .formulario input{
        width: 95%;
    }
    .formulario button{
        width: 60%;
    }
    .formrecover input{
        width: 95%;
    }
    .formrecover button{
        width: 95%;
    }
    .formcontact{
        grid-template-columns: 1fr;
    }
    .formdata{
        grid-column: span 2;
    }
    .textareaform{
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .senddata button{
        grid-column: span 2;
    }
    #piepagina{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 1fr);
    }
    .logofooter{
        margin-bottom: 20px;
    }
    .logofooter img{
        width: 150px;
        height: 150px;
    }
    .socialcontacto{
        margin-top: 20px;
        width: 95%;
        border-bottom: 2px dashed black;
    }
    .socialcontacto, .logomapa{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        gap: 3.5%;
    }
    .socialesmetodo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socialesmetodo i, .logomapa i{
        font-size: x-large;
    }
    .logomapa{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .socialesmetodo span{
        display: none;
    }
    .ubicacion{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        border-bottom: 2px dashed black;
        width: 95%;
    }
    .ubi{
        width: 95%;
        height: 20rem;
    }
    .ubi i{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
    }
    .ubi h3{
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 1.4rem;
        margin: 0;
    }
    .ubi iframe{
        margin-bottom: 20px;
    }
    .serviciocliente{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-left: 5%;
    }
    .nosotros{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        margin-left: 5%;
        padding-left: 5%;
        margin-bottom: 35px;
    }
} */
/* @media screen and (max-width: 1100px){
    .seca{
        overflow: hidden;
        width: 75%;
    }
    .btncarro{
        width: 75%;
    }
    .seca:hover, .btncarro:hover{
        width: 80%;
        height: 2.2rem;
        transition: 0.3s;
    }
} */