/* Index */
/* Slider Index */
#sliderpromo {
    width: 100%;
    height: auto;
    margin: 5px auto 0;
    overflow: hidden;
    ul {
        display: flex;
        padding: 0;
        width: 400%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
        animation: slidepromo 20s infinite alternate ease-in-out;
        li {
            width: 100%;
            list-style: none;
            position: relative;
            a img {
            width: 100%;
            height: 30rem;
            }
        }
    }
}
@keyframes slidepromo{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/* Sección de promociones y lanzamientos */
.namepromo {
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: #470696b4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    h2 {
        padding-top: 1%;
        color: #dedede;
    }
}
#promociones {
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0.5rem;
    .promocionone{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        grid-column-start: 2;
        grid-column-end: 3;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img {
            width: 100%;
            height: 100%;
        }
    }
    .promociontwo{
        grid-column-start: 3;
        grid-column-end: 4;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img {
            width: 100%;
            height: 100%;
        }
    }
    .promocionthree{
        grid-column-start: 4;
        grid-column-end: 5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img{
            width: 100%;
            height: 100%;
        }
    }
}
/* Sección de ofertas(ZG-COMPUTACIÓN-COMPONENTES) */
.ofertasproduct{
    width: 100%;
    margin-top: 2rem;
    .products{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 15px;
        padding: 0;
        gap: 1%;
        .product{
            list-style: none;
            width: 15%;
            height: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
            .productinfo{
                color: #333;
                text-decoration: none;
                .producttrademark{
                    margin-bottom: 0.5rem;
                }
                .productname{
                    width: 100%;
                    height: auto;
                    p{
                        width: 100%;
                        height: 2.8rem;
                        overflow: hidden;
                    }
                }
                .skuunits{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    font-size: 0.6rem;
                    margin-top: 0.5rem;
                    opacity: 0.8;
                    .productunits{
                        text-align: end;
                        span{
                            padding-right: 10%;
                        }
                    }
                }
                .productimg{
                    text-align: center;
                    img{
                        width: 95%;
                        height: auto;
                    }
                }
            }
            .valuecart{
                display: flex;
                justify-content: space-between;
                .value{
                    padding-left: 5%;
                    color: #333;
                    text-decoration: none;
                }
                .cartplus{
                    padding-right: 10%;
                    color: #333;
                    i{
                        font-size: 2rem;
                        height: 2.1rem;
                    }
                }
            }
        }
        .product:hover{
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            width: 15.5%;
            transition: all 0.2s;
        }
    }
}