/* */
/* Style for product */
#productcontainer{
    width: 100%;
    height: auto;
    .proproduct{
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(2 auto);
        .imagesproproduct{
            @include positiongrid(1,2,1,2);
            width: 100%;
            .mainimgproproduct{
                border: 1px solid black;
                width: 90%;
                height: auto;
                img{
                    width: 100%;
                }
            }
            .secondaryimgproproduct{
                margin-top: 10px;
                width: 90%;
                height: auto;
                display: flex;
                justify-content: space-between;
                img{
                    border: 1px solid black;
                }
            }
        }
        .detallesproproduct{
            @include positiongrid(2,3,1,2);
            width: 90%;
            .brandproproduct{
                display: flex;
                gap: 5px;
            }
            .skuunits{
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                .productunits{
                    padding-right: 25px;
                }
            }
            .valueproproduct{
                .currentvalueproproduct, .prevalueproproduct{
                    span:first-child{
                        font-size: larger;
                    }
                }
            }
            .boxnumproproduct{
                display: flex;
                padding-left: 15px;
                margin-top: 25px;
                #contcontainer{
                    padding-right: 15px;
                    height: 100%;
                    width: 30%;
                    padding-top: 5px;
                    text-align: center;
                    #btndecrementar{
                        background-color: #586468;
                        color: white;
                        padding: 3px;
                        font-size: larger;
                    }
                    #contador{
                        font-size: larger;
                    }
                    #btnincrementar{
                        background-color: #00ff51;
                        color: black;
                        padding: 3px;
                        font-size: larger;
                    }
                }
                .btnstartpaymentproproduct{
                    width: 60%;
                    height: 4rem;
                    button{
                        background-color: #47069698;
                        color: black;
                        font-weight: bold;
                        padding: 15px 25px;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: small;
                        width: 90%;
                        height: 80%;
                        &:hover{
                            background-color: #0d8a2c;
                            color: white;
                            font-size: large;
                            width: 100%;
                            height: 100%;
                            transition: all 0.5s;
                        }
                    }
                }
            }
            .informationproproduct{
                border-top: 2px dashed black;
                border-bottom: 2px dashed black;
                margin-top: 20px;
                margin-bottom: 20px;
                div:first-child{
                    margin-top: 20px;
                }
                div{
                    padding-left: 10px;
                }
            }
        }
        .descriptionproproduct{
            @include positiongrid(1,3,2,3);
            width: 100%;
            .acordeondescriptionpropro{
                width: 100%;
                .nav-item{
                    a{
                        margin: 3px;
                    }
                }
            }
            .tab-content{
                .tab-pane{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}