/* Slider Index */
#sliderpromo {
    width: 100%;
    height: auto;
    margin: 5px auto 0;
    overflow: hidden;
    ul {
        display: flex;
        padding: 0;
        width: 400%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
        animation: slidepromo 20s infinite alternate ease-in-out;
        li {
            width: 100%;
            list-style: none;
            position: relative;
            a img {
            width: 100%;
            height: 30rem;
            }
        }
    }
}
@keyframes slidepromo{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/* Sección de promociones y lanzamientos */
.namepromo {
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: #470696b4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    h2 {
        padding-top: 1%;
        color: #dedede;
    }
}

  #promociones {
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0.5rem;
  
    .promocionone {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        grid-column-start: 2;
        grid-column-end: 3;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img {
            width: 100%;
            height: 100%;
        }
    }
    .promociontwo {
        grid-column-start: 3;
        grid-column-end: 4;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img {
            width: 100%;
            height: 100%;
        }
    }
    .promocionthree {
        grid-column-start: 4;
        grid-column-end: 5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img {
            width: 100%;
            height: 100%;
        }
    }
}

/* Responsive de la pagina web como maximo 750px */
@media screen and (max-width: 750px){
    /* Header de todas las paginas */
    #cabezal{
        display: grid;
        grid-template-rows: repeat(2 1fr);
        grid-template-rows: repeat(4 auto);
        .containercabezal{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            .logohead{
                display: none;
            }
            .presearch{
                .presentation{
                    display: none;
                }
                .buscador{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
            }
            .sesioncarro{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 2;
                }
            }
        #menuopciones{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            label{
                font-size: 3rem;
                text-align: center;
            }
            .checkbtn {
                display: block;
            }
            ul {
                position: absolute;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: auto;
                background-color: antiquewhite;
                z-index: 1000;
                background-color: rgba(22, 196, 88, 0.4);
                padding: 0;
                background-color: #dedede;
                li {
                    padding: 25px;
                    width: 100%;
                    text-align: center;
                    display: none;
                    background-color: rgba(22, 196, 88, 0.4);
                    a{
                        font-size: large;
                    }
                }
            }
            ul:not(:checked) + label + li {
                display: none;
            }
            input:checked + label + ul li {
                display: block;
            }
            #check{
                display: none;
            }
            #menuopciones:not(:focus-within) ul li {
                display: none;
            }
        }
        .cuotas{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }

    .modal{
        .modal-dialog{
            margin: 0.1px;
            .modal-content{
                .modal-body{
                    padding: 0;
                    .table{
                        thead{
                            tr{
                                th{
                                    padding: 0;
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cuotas img{
        width: 100%;
        height: 2rem;
    }

    /* Index */
    #sliderpromo ul li a img{
        width: 100%;
        height: 13rem;
    }
    #promociones{
        width: 98%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3 auto);
        gap: 0.5%;
        .promocionone{
            grid-column: span 1;
            grid-row-start: 1;
            grid-row-end: 2;
            gap: 1%;
        }
        .promociontwo{
            grid-column: span 1;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .promocionthree{
            grid-column: span 1;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
    .namepromo{
        width: 98%;
    }
    .ofertasproduct{
        .products{
            width: 98%;
            .product{
                width: 25%;
                .productinfo{
                    .productname{
                        p{
                            font-size: x-small;
                        }
                    }
                    .skuunits{
                        margin-top: 0;
                        font-size: 0.5rem;
                    }
                }
                .valuecart{
                    .value{
                        .productvalue{
                            span{
                                font-size: xx-small;
                            }
                        }
                        .productprevalue{
                            span{
                                font-size: xx-small;
                            }
                        }
                    }
                    .cartplus{
                        width: auto;
                        height: auto;
                        padding: 0;
                        i{
                            font-size: larger;
                            margin-top: 30%;
                        }
                    }
                }
            }
            .product:nth-child(5), .product:nth-child(6){
                display: none;
            }
        }
    }


    #sectionform{
        width: 95%;
        margin: 20px auto;
        padding: 10px;
        input{
            padding-top: 5px;
        }
    }
    .formulario input{
        width: 95%;
    }
    .formulario button{
        width: 60%;
    }
    .formrecover input{
        width: 95%;
    }
    .formrecover button{
        width: 95%;
    }
    .formcontact{
        grid-template-columns: 1fr;
    }
    .formdata{
        grid-column: span 2;
    }
    .textareaform{
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .senddata button{
        grid-column: span 2;
    }

    /* registeruser */
    #formcontainer{
        #sectionformreguser{
            width: 97%;
            .formreguser{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4 auto);
                height: auto;
                .reguserdataone{
                    grid-column: span 1;
                    grid-row: span 1; 
                    height: auto;
                }
                .reguserdatatwo{
                    grid-column: span 1;
                    grid-row: span 2;
                    height: auto;
                }
                .reguserdatathree{
                    grid-column: span 1;
                    grid-row: span 3;
                    height: auto;
                }
                .reguserdatafour{
                    grid-column: span 1;
                    grid-row: span 4; 
                    height: auto;
                }
            }
        }
    }

    /* Footer de todas las paginas */
    #piepagina{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .logofooter{
        margin-bottom: 20px;
    }
    .logofooter img{
        width: 150px;
        height: 150px;
    }
    .socialcontacto{
        margin-top: 20px;
        width: 95%;
        border-bottom: 2px dashed black;
    }
    .socialcontacto{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        gap: 3.5%;
    }
    .socialesmetodo{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: xx-large;
            width: 3rem;
            height: 3rem;
        }
    }
    .socialesmetodo span{
        display: none;
    }
    .ubicacion{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        border-bottom: 2px dashed black;
        width: 95%;
    }
    .ubi{
        width: 95%;
        height: 20rem;
        i{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
        }
        h3{
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: 1.4rem;
            margin: 0;
        }
        iframe{
            margin-bottom: 20px;
        }
    }
    .serviciocliente{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-left: 5%;
    }
    .nosotros{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
        margin-left: 5%;
        padding-left: 5%;
        margin-bottom: 20px;
    }
}

/* Responsive de la pagina web como maximo 1100px */
@media screen and (max-width: 1100px) {
    .seca{
        overflow: hidden;
        width: 75%;
        &:hover{
            width: 80%;
            height: 2.2rem;
            transition: 0.3s;
        }
    }
    .btncarro{
        width: 75%;
        &:hover {
            width: 80%;
            height: 2.2rem;
            transition: 0.3s;
        }
    }
}