/* Estilo para toda la pagina */
*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

/* Information de todas las paginas */
/* Estilo para la información */
#information{
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #470696;
    p{
        color: white;
        font-size: clamp(0.9rem, 1vw, 2rem);
        margin: 5px;
    }
}
/* Header de todas las paginas */
/* Estilo para el head(incluye logo, bienvenida, buscador, sesion y carrito, menu y cuotas) */
#cabezal{
    .containercabezal{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;
        border-bottom: 1px solid #dedede;
        background-color: rgba(22, 196, 88, 0.4);
        .logohead{
            display: flex;
            justify-content: center;
            width: 30%;
            height: 100%;
            a{
                img{
                    width: 100px;
                    height: 100px;
                    padding-right: 20%;
                }
            }
        }
        .logohead:hover{
            cursor: pointer;
        }
        .presearch{
            display: block;
            width: 40%;
            .presentation{
                h1{
                    text-align: start;
                    /* font-size: 1.4rem; */
                    font-size: clamp(0.6rem, 1vw, 1.5rem);
                    word-wrap: break-word;
                }
            }
            .buscador{
                display: flex;
                justify-content: flex-start;
                margin-top: 10px;
                input{
                    width: 70%;
                    height: 35px;
                    border-radius: 5px;
                    padding: 8px;
                }
                button{
                    width: 11%;
                    border-radius: 5px;
                    background-color: #47069698;
                    color: #fff;
                    i:hover{
                        color: black;
                    }
                }
            }
        }
        .sesioncarro {
            width: 30%;
            display: flex;
            justify-content: center;
            justify-items: center;
            gap: 10px;
            .seca{
                overflow: hidden;
                width: 45%;
                height: 2rem;
                border-radius: 10px;
                background-color: #47069698;
                border: none;
                a{
                    text-decoration: none;
                    color: black;
                    span{
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
                a:hover{
                    text-decoration: none;
                    color: white;
                    font-size: 100%;
                    transition: 0.1s;
                }
            }
            .separadorseca{
                font-size: 1.4rem;
            }
            .container-fluid{
                .btncarro{
                    width: 45%;
                    span{
                        font-size: 100%;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
                .btncarro:hover{
                    text-decoration: none;
                    color: white;
                    font-size: 100%;
                    transition: 0.1s;
                }
                .modal{
                    .modal-dialog{
                        .modal-content{
                            .modal-body{
                                .table{
                                    tbody{
                                        tr{
                                            td:last-child{
                                                button{
                                                    i{
                                                        color: red;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .modal-footer{
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
    #menuopciones{
        background-color: rgba(0, 0, 0, 0.11);
        .checkbtn{
            cursor: pointer;
            display: none;
        }
        ul{
            display: inline-flex;
            justify-content: center;
            margin-bottom: 10px;
            list-style: none;
            width: 100%;
            padding: 0;
            li{
                width: 12.5%;
                padding-top: 1%;
                text-align: center;
                a{
                    font-size: 75%;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #4a3866;
                    transition: all 0.3s;
                }
                a:hover{
                    color: #470696;
                    font-family: italic;
                    transition: all 0.1s;
                }
                i{
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            li:hover{
                border-bottom: 3px solid #470696;
                color: #470696;
                font-style: italic;
                font-size: large;
                transition: all 0.1s;
            }
        }
    }
    .cuotas{
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        a{
            display: block;
            img{
                width: 100%;
                height: 3rem;
            }
        }
        a:nth-child(2){
            display: none;
        }
    }
}

/* Index */
/* Slider Index */
#sliderpromo {
    width: 100%;
    height: auto;
    margin: 5px auto 0;
    overflow: hidden;
    ul {
        display: flex;
        padding: 0;
        width: 400%;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
        animation: slidepromo 20s infinite alternate ease-in-out;
        li {
            width: 100%;
            list-style: none;
            position: relative;
            a img {
            width: 100%;
            height: 30rem;
            }
        }
    }
}
@keyframes slidepromo{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/* Sección de promociones y lanzamientos */
.namepromo {
    width: 75%;
    margin: auto;
    text-align: center;
    background-color: #470696b4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    h2 {
        padding-top: 1%;
        color: #dedede;
    }
}
#promociones {
    margin: auto;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    gap: 0.5rem;
    .promocionone{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        grid-column-start: 2;
        grid-column-end: 3;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img {
            width: 100%;
            height: 100%;
        }
    }
    .promociontwo{
        grid-column-start: 3;
        grid-column-end: 4;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img {
            width: 100%;
            height: 100%;
        }
    }
    .promocionthree{
        grid-column-start: 4;
        grid-column-end: 5;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        a img{
            width: 100%;
            height: 100%;
        }
    }
}
/* Sección de ofertas(ZG-COMPUTACIÓN-COMPONENTES) */
.ofertasproduct{
    width: 100%;
    margin-top: 2rem;
    .products{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 15px;
        padding: 0;
        gap: 1%;
        .product{
            list-style: none;
            width: 15%;
            height: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
            .productinfo{
                color: #333;
                text-decoration: none;
                .producttrademark{
                    margin-bottom: 0.5rem;
                }
                .productname{
                    width: 100%;
                    height: auto;
                    p{
                        width: 100%;
                        height: 2.8rem;
                        overflow: hidden;
                    }
                }
                .skuunits{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    font-size: 0.6rem;
                    margin-top: 0.5rem;
                    opacity: 0.8;
                    .productunits{
                        text-align: end;
                        span{
                            padding-right: 10%;
                        }
                    }
                }
                .productimg{
                    text-align: center;
                    img{
                        width: 95%;
                        height: auto;
                    }
                }
            }
            .valuecart{
                display: flex;
                justify-content: space-between;
                .value{
                    padding-left: 5%;
                    color: #333;
                    text-decoration: none;
                }
                .cartplus{
                    padding-right: 10%;
                    color: #333;
                    i{
                        font-size: 2rem;
                        height: 2.1rem;
                    }
                }
            }
        }
        .product:hover{
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            transition: all 0.2s;
            width: 15.5%;
        }
    }
}

/*  */
/* CSS generico de Login - recoveraccount - changepassword - contact - registeruser */
#formcontainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.08);
    #sectionform{
        background-color: #ffffff;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        text-align: center;
        width: 45%;
        height: auto;
        .nameform{
            margin-top: 20px;
            margin-bottom: 50px;
            h2{
                color: #333;
                text-align: center;
                font-weight: bold;
            }
        }
        .formulario{
            margin-top: 35px;
            div{
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
                input{
                    width: 85%;
                    margin-top: 15px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
                button{
                    background-color: #470696;
                    color: #fff;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    width: 40%;
                }
            }
        }
        .ayuda{
            div{
                margin-top: 10px;
                display: flex;
                justify-content: center;
                span{
                    display: block;
                    margin-bottom: 5px;
                }
                a{
                    color: #007bff;
                    padding-left: 5px;
                }
            }
        }
    }
}

/*  */
/* Style for recoveryaccount */
/* Sección para recuperar cuenta */
#formcontainer{
    #sectionform{
        .secciones{
            margin-top: 25px;
            .formrecover{
                margin-top: 15px;
                input{
                    width: 85%;
                    height: auto;
                    padding: 10px;
                    margin-bottom: 10px;
                }
                button{
                    background-color: #470696;
                    color: #fff;
                    width: 85%;
                    height: 2.5rem;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
        }
        .returnlogin{
            text-align: start;
            margin-top: 40px;
            margin-bottom: 20px;
            width: 100%;
            text-align: start;
        }
    }
}

/*  */
/* Style for contact */
/* Sección para llenar formulario de contacto */
#formcontainer{
    #sectionform{
        .formcontact{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, auto);
            gap: 15px;
            .formdata{
                grid-column: span 1;
                label{
                    text-align: start;
                    font-weight: bold;
                    color: #555;
                }
                input{
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
                #motivo{
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
            }
            .textareaform{
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 5;
                grid-row-end: 6;
                #comentarios{
                    background-color: #f0f0f0;
                    resize: none;
                    width: 100%;
                    height: 15rem;
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                }
            }
            .senddata{
                grid-column: span 2;
                width: 100%;
                height: auto;
                button{
                    background-color: #470696;
                    color: #fff;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    width: 40%;
                }
            }
        }
    }
}

/*  */
/* Style for registeruser */
/* Sección para llenar formulario del registro de usuario */
#formcontainer{
    #sectionformreguser{
        background-color: #ffffff;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        text-align: center;
        width: 70%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2 auto);
        justify-content: center;
        align-items: center;
        .formreguser{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3 auto);
            width: 100%;
            gap: 1%;
            .reguserdataone{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
                h3{
                    font-weight: bold;
                    margin: 25px;
                    height: 4rem;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    label{
                        height: 2rem;
                    }
                    input{
                        width: 85%;
                        margin-top: 5px;
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        margin-bottom: 20px;
                    }
                }
            }
            .reguserdatatwo{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
                h3{
                    font-weight: bold;
                    margin: 25px;
                    height: 4rem;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    label{
                        height: 2rem;
                    }
                    input{
                        width: 85%;
                        margin-top: 5px;
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        margin-bottom: 20px;
                    }
                }
            }
            .reguserdatathree{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(0, 0, 0, 0.2);
                h3{
                    font-weight: bold;
                    margin: 25px;
                    height: 4rem;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    label{
                        height: 2rem;
                    }
                    input{
                        width: 85%;
                        margin-top: 5px;
                        padding: 8px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        margin-bottom: 20px;
                    }
                }
            }
            .reguserdatafour{
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
                width: 100%;
                height: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                button{
                    background-color: #470696;
                    color: #fff;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    width: 40%;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }
                .returnlogin{
                    width: 100%;
                    text-align: start;
                }
            }
        }
    }
}

/* Footer de todas las paginas */
/* Estilo para el footer(incluye logo con contacto, servicios e información de la empresa) */
#piepagina{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 1fr;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(22, 196, 88, 0.4);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    .pie{
        margin-top: 25px;
    }
    .socialcontacto{
        grid-column-start: 1;
        grid-column-end: 2;
        margin: auto;
        margin-top: 25px;
        .logofooter{ 
            img{
                width: 200px;
                height: 200px;
            }
        }
        .socialesmetodo{
            padding: 10px;
        }
    }
    .ubicacion{
        margin:auto;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .ubi{
            display: grid;
            grid-template-columns: 0.15fr 0.85fr;
            grid-template-rows: 0.2fr 0.8fr;
            overflow: hidden;
            width: 90%;
            height: 100%;
            i{
                display: flex;
                justify-content: end;
                align-items: center;
                font-size: 150%;
            }
            h3{
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 1.5rem;
                margin: 0;
                padding-left: 15px;
                font-weight: bold;
            }
            iframe{
                margin: auto;
                width: 95%;
                height: 95%;
                grid-column-start: 1; 
                grid-column-end: 3;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
                border-radius: 15px;
            }
        }
    }
    .serviciocliente{
        grid-column-start: 3;
        grid-column-end: 4;
        margin-left: 5%;
        padding-right: 5%;
    }
    .nosotros{
        align-items: center;
        grid-column-start: 4;
        grid-column-end: 5;
        margin-right: 10%;
    }
    .serviciocliente, .nosotros{
        a{
            padding: 20px 0px 0px 20px;
            font-size: larger;
            display: block;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.9);
        }
        h3{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

/* Responsive de la pagina web como maximo 750px */
@media screen and (max-width: 750px){
    /* Header de todas las paginas */
    #cabezal{
        display: grid;
        grid-template-rows: repeat(2 1fr);
        grid-template-rows: repeat(4 auto);
        .containercabezal{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2 auto);
            .logohead{
                display: none;
            }
            .presearch{
                width: 100%;
                margin-top: 20px;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                .presentation{
                    display: none;
                }
                .buscador{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    width: 100%;
                    margin-top: 0;
                    input{
                        width: 78%;
                    }
                    button{
                        width: 15%;
                        i{
                            padding-top: 5px;
                        }
                    }
                }
            }
            .sesioncarro{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                width: 100%;
                margin-top: 10px;
                margin-left: 20px;
                .seca{
                    width: 30%;
                }
                .container-fluid{
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    width: 30%;
                    .btncarro{
                        width: 100% !important;
                    }
                    .modal{
                        .modal-dialog{
                            margin: 0.1px;
                            .modal-content{
                                .modal-body{
                                    padding: 0;
                                    .table{
                                        thead{
                                            tr{
                                                th{
                                                    padding: 0;
                                                    padding-right: 0;
                                                    font-size: x-small;
                                                    width: 20%;
                                                }
                                            }
                                        }
                                        tbody{
                                            tr{
                                                td{
                                                    padding: 0;
                                                    font-size: x-small;
                                                    width: 20%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #menuopciones{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            background-color: rgba(22, 196, 88, 0);
            .label{
                text-align: center;
            }
            .checkbtn {
                display: block;
                cursor: pointer;
                i{
                    font-size: 3rem;
                    overflow-y: hidden;
                    margin-top: 10px;
                    margin-left: 10px;
                }
            }
            ul {
                position: absolute;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: auto;
                background-color: antiquewhite;
                z-index: 1000;
                padding: 0;
                background-color: #dedede;
                li {
                    padding: 25px;
                    width: 100%;
                    text-align: center;
                    display: none;
                    background-color: rgba(22, 196, 88, 0.3);
                    a{
                        font-size: large;
                    }
                }
            }
            ul:not(:checked) + label + li {
                display: none;
            }
            input:checked + label + ul li {
                display: block;
            }
            #check{
                display: none;
            }
            #menuopciones:not(:focus-within) ul li {
                display: none;
            }
        }
        .cuotas{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
            a{
                display: block;
                img{
                    width: 100%;
                    height: 2rem;
                }
            }
            a:nth-child(1){
                display: none;
            }
        }
    }

    /* Index */
    /* Slider de promociones */
    #sliderpromo ul li a img{
        width: 100%;
        height: 13rem;
    }
    /* Promociones de imagenes */
    #promociones{
        width: 98%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3 auto);
        gap: 0.5%;
        .promocionone{
            grid-column: span 1;
            grid-row-start: 1;
            grid-row-end: 2;
            gap: 1%;
        }
        .promociontwo{
            grid-column: span 1;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .promocionthree{
            grid-column: span 1;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
    /* Equipos en promoción */
    .ofertasproduct{
        .namepromo{
            width: 98%;
        }
        .products{
            width: 98%;
            .product{
                width: 25%;
                .productinfo{
                    .productname{
                        p{
                            font-size: x-small;
                        }
                    }
                    .skuunits{
                        margin-top: 0;
                        font-size: 0.5rem;
                    }
                }
                .valuecart{
                    .value{
                        .productvalue{
                            span{
                                font-size: xx-small;
                            }
                        }
                        .productprevalue{
                            span{
                                font-size: xx-small;
                            }
                        }
                    }
                    .cartplus{
                        width: auto;
                        height: auto;
                        padding: 0;
                        i{
                            font-size: larger;
                            margin-top: 30%;
                        }
                    }
                }
            }
            .product:nth-child(5), .product:nth-child(6){
                display: none;
            }
        }
    }

    /* Responsive de Login- Contact - Changepassword - registeruser - recoveraccount */
    #formcontainer{
        #sectionform{
            width: 95%;
            margin: 20px auto;
            padding: 10px;
            input{
                padding-top: 5px;
            }
            .formulario{
                div{
                    input{
                        width: 95%;
                    }
                    button{
                        width: 60%;
                    }
                }
            }
            .secciones{
                .formrecover {
                    input{
                        width: 95%;
                    }
                    button{
                        width: 95%;
                    }
                }
            }
            .formcontact{
                grid-template-columns: 1fr;
                .formdata{
                    grid-column: span 2;
                }
                .textareaform{
                    grid-row-start: 8;
                    grid-row-end: 9;
                }
                .senddata button{
                    grid-column: span 2;
                }
            }
        }
        #sectionformreguser{
            width: 97%;
            .formreguser{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4 auto);
                height: auto;
                .reguserdataone{
                    grid-column: span 1;
                    grid-row: span 1; 
                    height: auto;
                }
                .reguserdatatwo{
                    grid-column: span 1;
                    grid-row: span 2;
                    height: auto;
                }
                .reguserdatathree{
                    grid-column: span 1;
                    grid-row: span 3;
                    height: auto;
                }
                .reguserdatafour{
                    grid-column: span 1;
                    grid-row: span 4; 
                    height: auto;
                }
            }
        }
    }

    /* Footer de todas las paginas */
    #piepagina{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        .socialcontacto{
            margin-top: 20px;
            width: 95%;
            border-bottom: 2px dashed black;
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 3.5%;
            .logofooter{
                margin-bottom: 20px;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
            .socialesmetodo{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    font-size: x-large;
                    width: 1.5rem;
                    height: 3rem;
                }
                span{
                    display: none;
                }
            }
        }
        .ubicacion{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
            border-bottom: 2px dashed black;
            width: 95%;
            .ubi{
                width: 95%;
                height: 20rem;
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.3rem;
                }
                h3{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    font-size: 1.4rem;
                    margin: 0;
                }
                iframe{
                    margin-bottom: 20px;
                }
            }
        }
        .serviciocliente{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;
            padding-left: 5%;
        }
        .nosotros{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 5;
            margin-left: 5%;
            padding-left: 5%;
            margin-bottom: 20px;
        }
    }
}

/* Responsive de la pagina web como maximo 1100px */
@media screen and (max-width: 1100px) {
    /* Botones de inicio sesión y carrito */
    .seca{
        overflow: hidden;
        width: 75%;
        &:hover{
            width: 80%;
            height: 2.2rem;
            transition: 0.3s;
        }
    }
    .btncarro{
        width: 75%;
        &:hover {
            width: 80%;
            height: 2.2rem;
            transition: 0.3s;
        }
    }

    /* Footer de todas las paginas */
    #piepagina{
        .ubicacion{
            .ubi{
                h3{
                    font-size: 1.1rem;
                }
            }
        }
        .serviciocliente, .nosotros{
            h3{
                font-size: 1.1rem;
            }
            a{
                font-size: 1rem;
            }
        }
    }
}