@charset "UTF-8";
/* Estilo para toda la pagina */
* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/* Information de todas las paginas */
/* Estilo para la información */
#information {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #470696;
}
#information p {
  color: white;
  font-size: clamp(0.9rem, 1vw, 2rem);
  margin: 5px;
}

/* Index */
/* Slider Index */
#sliderpromo {
  width: 100%;
  height: auto;
  margin: 5px auto 0;
  overflow: hidden;
}
#sliderpromo ul {
  display: flex;
  padding: 0;
  width: 400%;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  animation: slidepromo 20s infinite alternate ease-in-out;
}
#sliderpromo ul li {
  width: 100%;
  list-style: none;
  position: relative;
}
#sliderpromo ul li a img {
  width: 100%;
  height: 30rem;
}

@keyframes slidepromo {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -200%;
  }
  80% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/* Sección de promociones y lanzamientos */
.namepromo {
  width: 75%;
  margin: auto;
  text-align: center;
  background-color: rgba(71, 6, 150, 0.7058823529);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.namepromo h2 {
  padding-top: 1%;
  color: #dedede;
}

#promociones {
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
  gap: 0.5rem;
}
#promociones .promocionone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
#promociones .promocionone a img {
  width: 100%;
  height: 100%;
}
#promociones .promociontwo {
  grid-column-start: 3;
  grid-column-end: 4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
#promociones .promociontwo a img {
  width: 100%;
  height: 100%;
}
#promociones .promocionthree {
  grid-column-start: 4;
  grid-column-end: 5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
#promociones .promocionthree a img {
  width: 100%;
  height: 100%;
}

/* Footer de todas las paginas */
/* Estilo para el footer(incluye logo con contacto, servicios e información de la empresa) */
#piepagina {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: 1fr;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(22, 196, 88, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  margin-top: 25px;
}
#piepagina .pie {
  margin-top: 25px;
}
#piepagina .socialcontacto {
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  margin-top: 25px;
}
#piepagina .socialcontacto .logofooter img {
  width: 200px;
  height: 200px;
}
#piepagina .socialcontacto .socialesmetodo {
  padding: 10px;
}
#piepagina .ubicacion {
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#piepagina .ubicacion .ubi {
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-template-rows: 0.2fr 0.8fr;
  overflow: hidden;
  width: 90%;
  height: 100%;
}
#piepagina .ubicacion .ubi i {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 150%;
}
#piepagina .ubicacion .ubi h3 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 15px;
  font-weight: bold;
}
#piepagina .ubicacion .ubi iframe {
  margin: auto;
  width: 95%;
  height: 95%;
  grid-column-start: 1;
  grid-column-end: 3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
}
#piepagina .serviciocliente {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: 5%;
  padding-right: 5%;
}
#piepagina .nosotros {
  align-items: center;
  grid-column-start: 4;
  grid-column-end: 5;
  margin-right: 10%;
}
#piepagina .serviciocliente a, #piepagina .nosotros a {
  padding: 20px 0px 0px 20px;
  font-size: larger;
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}
#piepagina .serviciocliente h3, #piepagina .nosotros h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Responsive de la pagina web como maximo 750px */
@media screen and (max-width: 750px) {
  /* Header de todas las paginas */
  #cabezal {
    display: grid;
    grid-template-rows: repeat(2 1fr);
    grid-template-rows: repeat(4 auto);
  }
  #cabezal .containercabezal {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 auto);
  }
  #cabezal .containercabezal .logohead {
    display: none;
  }
  #cabezal .containercabezal .presearch {
    width: 100%;
    margin-top: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #cabezal .containercabezal .presearch .presentation {
    display: none;
  }
  #cabezal .containercabezal .presearch .buscador {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 0;
  }
  #cabezal .containercabezal .presearch .buscador input {
    width: 78%;
  }
  #cabezal .containercabezal .presearch .buscador button {
    width: 15%;
  }
  #cabezal .containercabezal .presearch .buscador button i {
    padding-top: 5px;
  }
  #cabezal .containercabezal .sesioncarro {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
  }
  #cabezal .containercabezal .sesioncarro .seca {
    width: 30%;
  }
  #cabezal .containercabezal .sesioncarro .container-fluid {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 30%;
  }
  #cabezal .containercabezal .sesioncarro .container-fluid .btncarro {
    width: 100% !important;
  }
  #cabezal .containercabezal .sesioncarro .container-fluid .modal .modal-dialog {
    margin: 0.1px;
  }
  #cabezal .containercabezal .sesioncarro .container-fluid .modal .modal-dialog .modal-content .modal-body {
    padding: 0;
  }
  #cabezal .containercabezal .sesioncarro .container-fluid .modal .modal-dialog .modal-content .modal-body .table thead tr th {
    padding: 0;
    padding-right: 0;
    font-size: x-small;
    width: 20%;
  }
  #cabezal .containercabezal .sesioncarro .container-fluid .modal .modal-dialog .modal-content .modal-body .table tbody tr td {
    padding: 0;
    font-size: x-small;
    width: 20%;
  }
  #cabezal #menuopciones {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgba(22, 196, 88, 0);
  }
  #cabezal #menuopciones .label {
    text-align: center;
  }
  #cabezal #menuopciones .checkbtn {
    display: block;
    cursor: pointer;
  }
  #cabezal #menuopciones .checkbtn i {
    font-size: 3rem;
    overflow-y: hidden;
    margin-top: 10px;
    margin-left: 10px;
  }
  #cabezal #menuopciones ul {
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: antiquewhite;
    z-index: 1000;
    padding: 0;
    background-color: #dedede;
  }
  #cabezal #menuopciones ul li {
    padding: 25px;
    width: 100%;
    text-align: center;
    display: none;
    background-color: rgba(22, 196, 88, 0.3);
  }
  #cabezal #menuopciones ul li a {
    font-size: large;
  }
  #cabezal #menuopciones ul:not(:checked) + label + li {
    display: none;
  }
  #cabezal #menuopciones input:checked + label + ul li {
    display: block;
  }
  #cabezal #menuopciones #check {
    display: none;
  }
  #cabezal #menuopciones #menuopciones:not(:focus-within) ul li {
    display: none;
  }
  #cabezal .cuotas {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #cabezal .cuotas a {
    display: block;
  }
  #cabezal .cuotas a img {
    width: 100%;
    height: 2rem;
  }
  #cabezal .cuotas a:nth-child(1) {
    display: none;
  }
  /* Index */
  /* Slider de promociones */
  #sliderpromo ul li a img {
    width: 100%;
    height: 13rem;
  }
  /* Promociones de imagenes */
  #promociones {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3 auto);
    gap: 0.5%;
  }
  #promociones .promocionone {
    grid-column: span 1;
    grid-row-start: 1;
    grid-row-end: 2;
    gap: 1%;
  }
  #promociones .promociontwo {
    grid-column: span 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #promociones .promocionthree {
    grid-column: span 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  /* Equipos en promoción */
  .ofertasproduct .namepromo {
    width: 98%;
  }
  .ofertasproduct .products {
    width: 98%;
  }
  .ofertasproduct .products .product {
    width: 25%;
  }
  .ofertasproduct .products .product .productinfo .productname p {
    font-size: x-small;
  }
  .ofertasproduct .products .product .productinfo .skuunits {
    margin-top: 0;
    font-size: 0.5rem;
  }
  .ofertasproduct .products .product .valuecart .value .productvalue span {
    font-size: xx-small;
  }
  .ofertasproduct .products .product .valuecart .value .productprevalue span {
    font-size: xx-small;
  }
  .ofertasproduct .products .product .valuecart .cartplus {
    width: auto;
    height: auto;
    padding: 0;
  }
  .ofertasproduct .products .product .valuecart .cartplus i {
    font-size: larger;
    margin-top: 30%;
  }
  .ofertasproduct .products .product:nth-child(5), .ofertasproduct .products .product:nth-child(6) {
    display: none;
  }
  /* Responsive de Login- Contact - Changepassword - registeruser - recoveraccount */
  #formcontainer #sectionform {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
  }
  #formcontainer #sectionform input {
    padding-top: 5px;
  }
  #formcontainer #sectionform .formulario div input {
    width: 95%;
  }
  #formcontainer #sectionform .formulario div button {
    width: 60%;
  }
  #formcontainer #sectionform .secciones .formrecover input {
    width: 95%;
  }
  #formcontainer #sectionform .secciones .formrecover button {
    width: 95%;
  }
  #formcontainer #sectionform .formcontact {
    grid-template-columns: 1fr;
  }
  #formcontainer #sectionform .formcontact .formdata {
    grid-column: span 2;
  }
  #formcontainer #sectionform .formcontact .textareaform {
    grid-row-start: 8;
    grid-row-end: 9;
  }
  #formcontainer #sectionform .formcontact .senddata button {
    grid-column: span 2;
  }
  #formcontainer #sectionformreguser {
    width: 97%;
  }
  #formcontainer #sectionformreguser .formreguser {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 auto);
    height: auto;
  }
  #formcontainer #sectionformreguser .formreguser .reguserdataone {
    grid-column: span 1;
    grid-row: span 1;
    height: auto;
  }
  #formcontainer #sectionformreguser .formreguser .reguserdatatwo {
    grid-column: span 1;
    grid-row: span 2;
    height: auto;
  }
  #formcontainer #sectionformreguser .formreguser .reguserdatathree {
    grid-column: span 1;
    grid-row: span 3;
    height: auto;
  }
  #formcontainer #sectionformreguser .formreguser .reguserdatafour {
    grid-column: span 1;
    grid-row: span 4;
    height: auto;
  }
  /* Footer de todas las paginas */
  #piepagina {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
  #piepagina .socialcontacto {
    margin-top: 20px;
    width: 95%;
    border-bottom: 2px dashed black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 3.5%;
  }
  #piepagina .socialcontacto .logofooter {
    margin-bottom: 20px;
  }
  #piepagina .socialcontacto .logofooter img {
    width: 100px;
    height: 100px;
  }
  #piepagina .socialcontacto .socialesmetodo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #piepagina .socialcontacto .socialesmetodo i {
    font-size: x-large;
    width: 1.5rem;
    height: 3rem;
  }
  #piepagina .socialcontacto .socialesmetodo span {
    display: none;
  }
  #piepagina .ubicacion {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    border-bottom: 2px dashed black;
    width: 95%;
  }
  #piepagina .ubicacion .ubi {
    width: 95%;
    height: 20rem;
  }
  #piepagina .ubicacion .ubi i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
  }
  #piepagina .ubicacion .ubi h3 {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.4rem;
    margin: 0;
  }
  #piepagina .ubicacion .ubi iframe {
    margin-bottom: 20px;
  }
  #piepagina .serviciocliente {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 5%;
  }
  #piepagina .nosotros {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-left: 5%;
    padding-left: 5%;
    margin-bottom: 20px;
  }
}
/* Responsive de la pagina web como maximo 1100px */
@media screen and (max-width: 1100px) {
  /* Botones de inicio sesión y carrito */
  .seca {
    overflow: hidden;
    width: 75%;
  }
  .seca:hover {
    width: 80%;
    height: 2.2rem;
    transition: 0.3s;
  }
  .btncarro {
    width: 75%;
  }
  .btncarro:hover {
    width: 80%;
    height: 2.2rem;
    transition: 0.3s;
  }
  /* Footer de todas las paginas */
  #piepagina .ubicacion .ubi h3 {
    font-size: 1.1rem;
  }
  #piepagina .serviciocliente h3, #piepagina .nosotros h3 {
    font-size: 1.1rem;
  }
  #piepagina .serviciocliente a, #piepagina .nosotros a {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */